<div>

<div class='row'>
	<div class='col-lg-6'>
		<div class="well">
			<form>
			<div class='row'><label>Login:</label><input type='text' name='username' ng-model='username'/></div>
			<div class='row'><label>Password:</label><input type='password' name='password' ng-model='password'/></div>
			<div class='row'><button class='btn btn-success' ng-click='login();'>Login</button></div>
			</form>
		</div>
	</div>
</div> 

<a href='login'>Login</a>
<a href='register'>Register</a>


</div>